<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/materialize.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %><span>  Get Your Books On!</span></h1>

    <a href="authors"class="waves-effect waves-light btn-large">Authors</a>
    <a href="books" class="waves-effect waves-light btn-large">Books</a>
    <a href="categories" class="waves-effect waves-light btn-large">Categories</a>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/materialize.min.js"></script>
  </body>
</html>
